#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp GRAVE  &kp Q  &kp W    &kp E     &kp R      &kp T                        &kp Y  &kp U      &kp I      &kp O     &kp P     &kp LBKT
&kp LSHFT  &kp A  &kp S    &kp D     &kp F      &kp G                        &kp H  &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LALT   &kp Z  &kp X    &kp C     &kp V      &kp B                        &kp N  &kp M      &kp COMMA  &kp DOT   &kp RBKT  &kp RALT
                  &kp TAB  &kp BSPC  &kp LCTRL  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp RCTRL  &kp LGUI   &kp RBKT
            >;

            label = "Base";
        };

        Navigation {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans                         &trans    &kp LS(LG(LEFT))  &kp LS(LG(DOWN))  &kp LS(LG(UP))  &kp LS(LG(RIGHT))  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans                         &kp HOME  &kp LEFT          &kp DOWN          &kp UP          &kp RIGHT          &kp END
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans                         &trans    &kp LC(LEFT)      &kp PAGE_DOWN     &kp PAGE_UP     &kp LC(RIGHT)      &trans
                &trans  &kp N0  &trans  &mo 3   &kp LS(TAB)    &trans  &trans    &trans            &trans            &trans
            >;

            label = "Navigation";
        };

        Symbols {
            bindings = <
&kp ESC    &kp AT_SIGN    &kp LT        &kp EQUAL     &kp GT        &kp GRAVE                       &trans  &kp LBKT       &kp SEMI   &kp RBKT      &kp LS(EXCL)   &kp LBKT
&trans     &kp LS(POUND)  &kp LS(LPAR)  &kp MINUS     &kp LS(RPAR)  &kp LS(AMPS)                    &trans  &kp LS(LBRC)   &kp SQT    &kp LS(RBRC)  &kp LS(QMARK)  &kp LS(RCTRL)
&kp RSHFT  &kp LS(CARET)  &kp BSLH      &kp LS(STAR)  &kp FSLH      &kp LS(DLLR)                    &trans  &kp LS(UNDER)  &kp COMMA  &kp DOT       &trans         &trans
                          &trans        &kp DELETE    &trans        &mo 3         &trans    &trans  &trans  &trans         &trans     &trans
            >;

            label = "Symbols";
        };

        Adjust {
            bindings = <
&bootloader   &none  &kp F1  &kp F2   &kp F3   &kp F4                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&kp CAPSLOCK  &none  &kp F5  &kp F6   &kp F7   &kp F8                   &out OUT_BLE  &kp C_VOL_DN  &kp K_MUTE        &kp C_VOL_UP  &none         &studio_unlock
&none         &none  &kp F9  &kp F10  &kp F11  &kp F12                  &out OUT_USB  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &none         &none
                     &none   &none    &none    &none    &none    &none  &none         &none         &none             &none
            >;

            label = "Adjust";
        };

        User0 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "User0";
        };

        User1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "User1";
        };

        User2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "User2";
        };

        User3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "User3";
        };
    };
};
